<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Eligible Patients for Blood Donation</title>
    <link rel="stylesheet" href="/styles/donatables.css">
</head>
<body>

    <div class="patients-container">
        <h2>Patients You Can Donate Blood To</h2>

        <% donatables.forEach(patient => { %>
            <div class="patient">
                <p>Patient id: <%= patient.patient_id %></p>
                <p>Name: <%= patient.name %></p>
                <p>Age: <%=patient.age%> </p>
                <p>Info: <%=patient.info%></p>
                <p>Phone: <%=patient.phone%></p>
                <p>Blood: <%=patient.blood%> </p>
            </div>
        <% }) %> 

    <a href="/login" class="back-btn">Go Back</a>
    <a href ="/profile" class = "btn"> Profile </a>
    </div>

</body>
</html>
